@import 'config';
@import 'react-datepicker';
@import 'utilities';
@import 'mtweaks';

body {
  // background-image: url('/static/frontend/img/pattern-spoon-fork.jpg');
  background-repeat: repeat;
  font-family: 'Bahnschrift', sans-serif !important;
  color: $main-text;
  min-height: 100vh;
  overflow-x: hidden;
}

#master {
  background: $grey-bg;
}

a {
  color: $main-text;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  &-track {
    background: #f1f1f1; 
  }

  &-thumb {
    background: #aaaaaa; 
  }

  &-thumb:hover {
    background: #9c9c9c; 
  }
}

.middle-wrapper {
  min-height: calc(100vh - 64px);
  .middle-content {
    height: 100%;
  }
}

#topbar {

  .brand-logo {
    height: 64px;
    min-width: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: $orange;

    img {
      max-height: 32px;
    }

    span {
      line-height: 1.5rem;
    }
  }

  li a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    
    i, img {
      margin-left: 0.5rem;
    }
  }
}

.section-admin-dashboard {
  
  a.dropdown-trigger {
    border-radius: 15px;
    height: 30px;

    i.material-icons {
      position: absolute;
      right: 10px;
      top: -3px;
    }

    >span {
      height: 33px;
    }
  }

  .daterange {
    min-width: 160px;
    overflow: visible;

    li {
      min-height: 0;

      .react-datepicker-wrapper {
        width: 100%;
      }
  
      &:hover {
        background-color: inherit;
      }

      input {
        cursor: pointer;
        background-color: #f1f1f1;
        width: 100%;
        border-radius: 15px;
        height: 30px;
        border: none;
        padding: 0 0.75rem;
        margin-bottom: 0;
        font-size: 15px;
        box-sizing: border-box;
  
        &:focus {
          border: none !important;
          box-shadow: none !important;
        }
      }

      select {
        overflow: visible !important;
        display: block;
        cursor: pointer;
        background-color: #f1f1f1;
        border-radius: 15px;
        height: 30px;
        border: none;
        padding: 0 0.75rem;
        font-size: 15px;
  
        &:focus {
          border: none !important;
          box-shadow: none !important;
          outline: none !important;
        }
      }
    }
  }
}

.manager-card-panel {
  min-height: 50vh;
}

.section-icons {
  .card-panel {
    display: block;
    position: relative;
    cursor: pointer;
    // min-height: 415px;

    img {
      position: relative;
      margin-top: 0.5rem;
      max-height: 150px;
      transition: transform 0.15s ease-in-out;
    }

    &:after {
      content: '';
      bottom: -5px;
      left: 0;
      position: absolute;
      width: 100%;
      height: 0px;
      opacity: 0;
      background-color: $orange;
      transition: all 0.25s ease-in-out;
    }
  
    &:hover {
      &:after {
        opacity: 1;
        height: 6px;
      }

      img {
        transition: transform 0.15s ease-in-out;
        transform: scale(1.20)
      }
    }

    &.disabled {
      cursor: default;

      &:hover {
        &:after {
          opacity: 0;
          height: 0px;
        }

        img {
          transition: unset;
          transform: unset
        }
      }
    }
  }
  
  p {
    font-size: 1.25rem;
  }
}

.section-login {
  h4 {
    margin-bottom: 3rem !important;
  }
}

.section-delivery {
  min-height: calc(100vh - 300px);
  margin-bottom: 2rem;

  .collapsible-header > i {
    position: absolute;
    right: 0;
  }

  .main-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 1rem;
  }
}

.section-about-trike {
  background: url(../../img/motorcycles.jpg);
  background-size: cover;
  background-position: center;
  min-height: 220px;
}
@media (max-width: 600px) {
  .section-about-trike {
    min-height: 340px;

    .row>.col {
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

.section-instructions {
  .slider .slides li .caption {
    top: 5%;
  }
}
@media (min-width: 1110px) {
  .section-instructions {
    .slider {
      height: 640px !important;
      .slides {
        height: 600px !important;
        li {
          .caption {
            top: 5%;
          }
        }
      }
    }
  }
}

#googlemap {
  position: absolute;
  height: 90%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.pac-container {
  z-index: 1003;
}

.supermodal {
  max-height: 100%;
  height: 100% !important;
  top: 0 !important;
  max-width: 700px;
  width: 100%;
  
  .modal-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 10%;
    min-height: 72px;
    padding-right: 45px;
  }

  &::-webkit-scrollbar {
    display: none; 
  }
}

.advertisement {
  overflow: visible;
  max-height: 90vw;
  height: 90vh !important;
  max-width: 90vh;
  width: 90vw;
  top: calc(5%) !important;

  .modal-content {
    padding: 2px;
  }
  
  .modal-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: 10%;
    min-height: 72px;
    padding-right: 45px;
  }

  .modal-close {
    width: 28px;
    height: 28px;
  }

  &::-webkit-scrollbar {
    display: none; 
  }
}

// .google-maps-close {
//   height: 40px;
//   top: -69px !important;
//   right: 60px !important;
// }

.addressmodal-input {
  padding-left: 1rem !important;
  display: none !important;
  left: 10px !important;
  top: 10px !important;
  width: 95% !important;
  background-color: #fff !important;
  -webkit-transition: -webkit-box-shadow .25s !important;
  transition: -webkit-box-shadow .25s !important;
  transition: box-shadow .25s !important;
  transition: box-shadow .25s, -webkit-box-shadow .25s !important;
  border-radius: 2px;

  &.open {
    display: block !important;
  }

  .card-content {
    padding: 0.25rem 1rem;

    .input-field {
      margin-bottom: 0.25rem;
    }
  }
}

.addressmodal-name-input {
  position: absolute;
  padding-left: 1rem !important;
  display: none !important;
  left: 10px !important;
  top: 60px !important;
  width: 95% !important;
  background-color: #fff !important;
  -webkit-transition: -webkit-box-shadow .25s !important;
  transition: -webkit-box-shadow .25s !important;
  transition: box-shadow .25s !important;
  transition: box-shadow .25s, -webkit-box-shadow .25s !important;
  border-radius: 2px;

  &.open {
    display: block !important;
  }

  .card-content {
    padding: 0.25rem 1rem;

    .input-field {
      margin-bottom: 0.25rem;
    }
  }
}

.section-auth-prompt {
  height: 80vh;

  .section-auth-img {
    height: 350px;
    width: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

  }
}

[data-target="partner-dropdown"] {
  width: 185px;
}

#partner-dropdown {
  position: static;

  &::-webkit-scrollbar {
    display: none; 
  }
}

.section-restaurants {
  ul {
    margin: 0 -12px;
  }

  .restaurant-item {
    margin: 0 12px 40px;
    width: calc(33.3333% - 24px);
    max-width: calc(33.3333% - 24px);

    .restaurant-img {
      overflow: hidden;

      &>a {
        display: block;
        min-height: 200px;
        max-height: 200px;
        transition: transform 0.15s ease-in-out;
    
        &:hover {
          transition: transform 0.15s ease-in-out;
          transform: scale(1.15)
        }
      }
    }
  
    .product-title {
      font-size: 18px;
      font-weight: 600;
      margin: 0;
      margin-bottom: 0.25rem;
    }
  }
    // .row {
    //   margin-bottom: 0;

    //   p {
    //     margin: 0;
    //   }
    // }

    // &:nth-child(odd) {
    //   margin-right: 2%;
    // }
}

.section-profile {
  .profile-title {
    display: flex !important
  }
  .input-field {
    p {
      min-height: 30px;
    }
  }
}

.height-530 {
  max-height: 530px;
  min-height: 530px;
}
.height-438 {
  max-height: 438px;
  min-height: 438px;
}

.sidenav {
  li.active {
    background-color: $orange !important;
    color: #fff !important;

    &>a {
      color: #fff !important;
      i {
        color: #fff;
      }
    }
  }
}

.section-product-review {
  .reviewed-product {
    height: 100px;
    width: 100px;
  }
}

.product-quantity {
  margin-bottom: 1rem;
  height: 25px;
  color: $green;

  .increase-quantity {
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100%;
    width: 25px;
    background: #fff;
    border: 1px #dee2e6 solid;
    margin-left: -1px;

    &:hover {
      color: #fff;
      background: $green;
    }

    &.disabled {
      cursor: default;

      &:hover {
        color:$green;
        background: inherit;
      }
    }
  }

  .decrease-quantity {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 25px;
    background: #fff;
    border: 1px #dee2e6 solid;

    &:hover {
      color: #fff;
      background: $green;
    }

    &.disabled {
      cursor: default;

      &:hover {
        color:$green;
        background: inherit;
      }
    }
  }

  .quantity {
    height: 100%;
    border: 1px #dee2e6 solid;
    width: 30px;
    margin-left: -1px;

    &:focus {
      box-shadow: none;
    }

    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.section-rider-inquiry {
  .rider-inquiry-form {
    position: relative;
    margin-top: -150px;
    z-index: 1;
  }
}

.section-orders {
  .cancel-order {
    line-height: 1.35rem;
  }
}

.vehicle-selection {
  cursor: pointer;
  min-height: 100px;
  width: 50%;
  max-width: 180px;
  border: 3px #959494 solid;
  padding: 10px;
  border-radius: 5px;

  &:hover, &.active {
    color: #fff;
    background: $light-green;
    border: 3px $light-green solid;
  }
}

@import 'media';